.prose-code pre code .line:before {
    content: attr(line);
    width: 1rem;
    margin-right: 1.25rem;
    display: inline-flex;
    text-align: right;
    color: rgba(115,138,148,.4);
    justify-content: flex-end;
}