.prose-code pre code .line-number {
    position: absolute;
    left: -4rem;
    width: 4rem;
    padding-right: 1rem;
    text-align: right;
    opacity: 0.3;
    user-select: none;
}

.prose-code pre code .line-number::before {
    content: attr(line);
}